:root {
  --grey: #525461;
  --grey2: #777a8b;
  --black: #282a37;
  --peach: #e74c32;
  --white: #f1f0f0;
}

body {
  margin: 0;
}
.outer-container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: var(--grey);
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  background-color: var(--black);
  width: 70%;
  border-radius: 15px;
  height:80%;
}

.img {
  width: 100%;
  background-image:linear-gradient(to left, rgba(43, 42, 42, 0.9),rgba(43, 42, 42), rgba(43, 42, 42) ),
  url('https://cdn.wallpapersafari.com/35/51/hcrmZq.jpg');
  border-radius: 15px;
}
.shadow {
  display: flex;
  flex-direction: row;
}
.shadow1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--white);
  cursor: pointer;
  padding: 30px 50px 10px 50px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin-bottom:40px;
}
.logo {
  width: 50px;
}
.png {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.link {
  display: flex;
}
.page {
  margin: 20px;
  font-size: 11px;
  color: var(--grey2);
  font-weight: 600;
}
.page:hover{
   color:var(--peach);
}

.texts {
  margin-top: 15px;
  font-weight: 600;
}

.text1 {
  font-size: 12px;
  color: var(--grey2);
  margin-bottom: 10px;
}
.text2 {
  font-size: 30px;
  margin-bottom: 10px;
}
.text3 {
  color: var(--grey2);
  font-size: 12px;
  font-weight: 500;
}

.log-in {
  color: var(--peach);
  text-decoration: none;
}

.log-in:hover{
  text-decoration: underline;
  text-decoration-color: var(--peach);
}

.form {
  width: 85%;
  margin: 20px 0 15px 0;
}
.name {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.background-form {
  background-color: var(--grey);
  border-radius: 15px;
  margin-bottom: 15px;
  padding:3px 0 8px 0;
}
.background-form:hover{
border: 2px solid var(--peach);
}
.form-name {
  width: 45%;
}
.bothnames {
  margin: 15px;
  font-size: 8px;
}
#fname,
#lname,#email,#password {
  border-style: hidden;
  background-color: inherit;
  width: 45%;
  margin: 0 0 0 15px;
  font-size: 11px;
}
#email{
width:80%;
}
#fname:focus,
#lname:focus,
#email:focus,
#password:focus {
  outline: none;
}
.form-texts{
  display: flex;
  justify-content: space-between;
  margin-bottom: -20px;
  margin-top: -20px;
}
.error-message{
  color: red;
font-size: 12px;
text-align: left;
}
.forgotten{
  font-size: 12px;
  text-align: right;
  color: var(--grey2);
}
.forgotten:hover{
  text-decoration: underline;
  text-decoration-color: var(--grey2);
}

.btn-container {
  display: flex;
  margin-top:20px ;
  justify-content: space-between;
}
.btn {
  background-color: var(--peach);
  font-size: 12px;
  border-radius: 25px;
  padding: 10px 5px 10px 5px;
  width:45%;
  text-align: center;
}
.btn:hover{
    transform:scale(1.1) ;
}
#eye{
margin-left: 35%;
position: relative;
    top: -8px;
}
.fa-address-book{
    margin-left:12%;
}
.fa{
    position: relative;
    top: -8px;
}

@media only screen and (max-width:620px) {
    .container{
      width: 90%;
      height: 90%;
    }
  }
  @media only screen and (max-width:450px) {
    .fa-envelope{
     margin-left: -5%;
    }
    #eye{
      margin-left: 27%;
    }
  }
.home{
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome{
  margin:150px;
  font-size: 200px;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  animation-name: colourful;
  animation-duration: 10s;

}
@keyframes colourful{
  0%   {color: green;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: purple;}
}